Adafruit-Blinka==9.1.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-bme680==3.7.16
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
anyio==4.13.0
appdirs==1.4.4
asyncclick==7.1.2.3
binho-host-adapter==0.1.6
certifi==2026.4.22
charset-normalizer==3.4.7
colorzero==2.0
getrpimodel==0.1.26
gpiozero==2.0.1
idna==3.13
lgpio==0.2.2.0
pigpio==1.78
pyee==7.0.4
pyftdi==0.57.1
pyppeteer2==0.2.2
pyserial==3.5
python-dotenv==1.2.2
pyusb==1.3.1
requests==2.33.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
screeninfo==0.6.7
slack_bolt==1.28.0
slack_sdk==3.41.0
smbus2==0.6.1
sysv_ipc==1.2.0
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==1.26.20
websockets==8.1
